body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Roboto', sans-serif;
}
body{
	background:#FFFFFF;
}
/*-- banner --*/
.banner{
	background: url(../images/background.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.header-top{
	padding: 1em 2em;
    background: rgba(0, 0, 0, 0.53);
}
.header-top-left{
    float: left;
    width: 15%;
}
.header-top-left p,.header-top-right-text p{
	color:#FFFFFF;
	font-size:.9em;
	margin:0;
}
.header-top-right{
    float: right;
    width: 26%;
}
.agileinfo-social-grids {
    float: left;
}
.header-top-right-text {
    float: right;
}
.header-top-right p{
	color:#FFFFFF;
}
/*-- social-icons --*/
.agileinfo-social-grids{
    margin-left: 0;
}
.agileinfo-social-grids ul{
	padding:0;
	margin:0;
}
.agileinfo-social-grids ul li{
    display: inline-block;
}
.agileinfo-social-grids ul li a {
	color: #FFFFFF;
    text-align: center;
}
.agileinfo-social-grids ul li a i.fa{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
    color: #3b5998;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter{
	margin:0 1em;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
	color: #55acee;
}
.agileinfo-social-grids ul li a i.fa.fa-rss{
	margin:0 1em 0 0;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
	color: #f26522;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
	color: #45668e;
}
.agileinfo-dot {
	background: url(../images/dott.png)repeat 0px 0px;
    background-size: 3px;
    -webkit-background-size: 3px;
    -moz-background-size: 3px;
    -o-background-size: 3px;
    -ms-background-size: 3px;
    border: solid 50px rgba(0, 0, 0, 0.64);
}
.head {
    padding: 1em 4em;
    background: hsla(0, 0%, 0%, 0.45);
}
.logo h1{
    margin: .2em 0 0 0;
}
.logo h1 a{
    text-decoration: none;
    color: #FF5722;
    letter-spacing: 3px;
    font-size: 1.5em;
    font-family: 'Great Vibes', cursive;
    font-weight: 600;
}
.logo h1 a span{
    font-size: .4em;
	color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 6px;
    margin: .5em 0 0 0;
}
.navbar-brand {
   height: auto; 
    padding: 0; 
    font-size: 18px; 
    line-height: 20px;
}
.navbar-nav {
    float: right;
	margin-top: 1.45em;
}
.header-left{
	float:right;
	margin-top: 1.4em;
}
.header-left ul li {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin: 0 1em;
}
.header-left ul li a {
    text-decoration: none;
    color: #fff;
}
.header-left ul li a:hover {
	color: #ff5722;
}
.header-left ul li i{
    left: -.5em;
}
.navbar-top {
    float: left;
	width:70%;
}
.navbar-default {
    border: none;
    background: none;
    min-height: auto;
    margin-bottom: 0;
}
div#bs-example-navbar-collapse-1 {
    padding: 0;
}
ul.nav.navbar-nav li a {
	font-size: 1em;
    color: #FFFFFF;
    margin: 0 15px;
    padding: 0px 0;
}
ul.nav.navbar-nav li a:hover{
    color: #e64e1f;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background:none !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
ul.nav.navbar-nav li.active a {
	color: #ff5722;
    background: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background:none;
}
.dropdown-menu {
	position: absolute;
    top: 115%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 105px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fe5722;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0!important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
ul.dropdown-menu li {
    padding: 5px 0;
}
ul.dropdown-menu li:nth-child(2){
	border-bottom:none;
}
ul.dropdown-menu li a {
    color: #000!important;
}
ul.dropdown-menu li a:hover {
	color: #FFFFFF !important;
	background:none;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none!important;
}
.banner-slider {
    margin: 11em 4em;
}
.agileits-banner-info {
	text-align:center;
}
.agileits-banner-info h3{
    color: #FFF;
    font-size: 4em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 13px;
}
.agileits-banner-info h3 span{
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFFFFF !important;
    font-size: .3em !important;
    letter-spacing: 23px;
}
.button{
    margin: 2em 0 1em 0;
}
.button a{
    color: #FFFFFF;
    font-size: 1em;
    text-decoration: none;
    padding: .5em 2em;
    background: #ff5722;
    text-align: center;
    border: solid 2px #ff5722;
}
.button a:hover{
	background: none;
    border: solid 2px #ffffff;
    color: #ffffff;
}
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 109px;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: transparent url(../images/arrows.png) no-repeat left top;
}
.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
 }
 .callbacks_nav.prev {
    right: auto;
    background-position: left top;
    left: 0;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 124%;
    left: 48%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 999;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background: #ff5722;
    border: 2px solid #ffffff;
}
/*-- //slider --*/
/*-- welcome --*/
.welcome,.special,.history-dot,.wthree-subscribe,.agile-footer,.typography,.codes,.gallery,.contact-content,.w3l-about-top,.team,.events{
	padding:4em 0;
}
.agileinfo-heading h3{
	color: #ad8a80;
    font-size: 4em;
    text-align: center;
    margin: 0;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
}
.agileits-welcome-left img{
	width:100%;
}
.agileits-welcome-grids,.special-top-grids{
	margin:4em 0 0 0;
}
.agileits-welcome-left h2{
	color: #212121;
    font-size: 1em;
    margin:0;
    line-height: 1.8em;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}
.agile-border{
    background: #FF5722;
    height: 2px;
    width: 100px;
    margin: 1em 0;
}
.agileits-welcome-left p{
	color:#999999;
	font-size:.9em;
	margin:0;
	line-height:1.8em;
}
.agileits-welcome-left p span{
	display:block;
	margin:1em 0 0 0;
}
/*-- //welcome --*/
/*-- special --*/
.special {
    background: #130056;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0);
}
.special-grids .special-img {
	overflow: hidden;
	position: relative;
	display: block;
}
.wthree-special-info h4 {
    color: #FFFFFF;
    font-size: 1em;
    margin: 0;
    line-height: 1.8em;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}
.captn p {
    font-size: .9em;
    margin-top: 1em;
	color:#fff;
	line-height:1.8em;
}
.special-grids .captn {
	display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.captn-top {
    padding: 16% 10%;
}
.special-img:hover .captn {
	width: 100%;
	top: 0%;
}
img.img-responsive {
    width: 100%;
}
.special .wthree-special-info{
    background: rgb(219, 89, 52);
    padding: 1em;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    transition: 1s all;
}
.special-img:hover .wthree-special-info {
    -webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
    transform: scale(1);
}
.agile-special:nth-child(2){
	margin:2em 0 0 0;
}
/*-- //special --*/

/*-- footer --*/
.agile-footer{
    background: #0f1215;
}
.footer-grid-heading h4{
    color: #ff5722;
    font-size: 1.2em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.footer-grid-heading h3{
	margin:0;
}
.footer-grid-heading h3 a{
    text-decoration: none;
    color: #FF5722;
    letter-spacing: 3px;
    font-size: 1.5em;
    font-family: 'Great Vibes', cursive;
    font-weight: 600;
}
.footer-grid-heading h3 a span {
    font-size: .4em;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 6px;
    margin: .5em 0 0 0;
}
.footer-grid-info,.social,.agile-footer-grid,.agile-footer-info {
    margin: 1em 0 0 0;
}
.footer-grid-info  p,.agile-footer-info p{
    margin: 0;
    font-size: .9em;
    color: #BBBBBB;
    line-height: 1.8em;
}
.footer-grid-info p span{
	display:block;
}
.footer-grid-info p span a{
    color: #BBBBBB;	
	text-decoration:none;
}
.footer-grid-info p span a:hover{
    color: #ffffff;
}
.footer-grid-info ul{
	padding:0;
	margin:0;
}
.footer-grid-info ul li{
	display:block;
}
.footer-grid-info ul li a{
    font-size: .9em;
    color: #BBBBBB;
    line-height: 1.8em;
    text-decoration: none;
}
.footer-grid-info ul li a:hover{
	color: #ffffff;
}
.social-grid{
    margin: 1em 0 0 0;	
}
.social ul{
	padding:0;
	margin:0;
}
.social ul li{
	display:inline-block;
}
.social ul li a {
	color: #333;
    text-align: center;
}
.social ul li a i.fa.fa-facebook{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-facebook:hover {
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #3b5998;
}
.social ul li a i.fa.fa-twitter{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-twitter:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #1da1f2;
}
.social ul li a i.fa.fa-rss{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-rss:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #f26522;
}
.social ul li a i.fa.fa-vk{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-vk:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #45668e;
}
.social ul li:nth-child(2){
	margin:0 .5em;
}
.social ul li:nth-child(3){
	margin:0 .5em 0 0;
}
.agileits-copyright {
    text-align: center;
    margin: 2em 0 0 0;
}
.agileits-copyright p{
    margin: 0;
    font-size: .9em;
    color: #BBBBBB;
}
.agileits-copyright p a{
    color: #FFFFFF;	
	text-decoration:none;
}
.agileits-copyright p a:hover{
	color: #BBBBBB;
}
.agile-footer-grid ul {
    padding: 0;
    margin: 0;
}
ul.footer_grid_list li {
    list-style-type: none;
    color: #bbbbbb;
    line-height: 1.8em;
    margin-bottom: 1em;
    font-size: .9em;
}
ul.footer_grid_list li a {
    color: #ffffff;
    text-decoration: none;
}
ul.footer_grid_list li a:hover{
	color:#bbbbbb;
}
ul.footer_grid_list li span {
    display: block;
    margin: 1em 0 0;
}
ul.footer_grid_list i.fa.fa-twitter {
    margin-right: 1em;
}
/*-- //footer --*/
/*-- about --*/
.agile-main-heading{
	padding:2em 0;
}
.gile-main-heading h2{
	color: #FFFFFF;
    font-size: 4em;
    text-align: center;
    margin: 0;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
}
.about-grids h4 {
    color: #212121;
    font-size: 1em;
    margin: 0;
    line-height: 1.8em;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}
.embed-responsive.embed-responsive-16by9 {
    margin-right: 3em;
}
.about-grids p { 
	color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
.about-grids img{
	width:100%;
	margin:1em 0 0 0;
}
.pince {
    margin-top: 2em;
}
.pince-left {
    float: left;
    width: 17%;
    background-color: #FF5722;
    text-align: center;
    padding: 1em;
}
.pince-right {
    float: right;
    width: 75%;
}
.pince h5 {
    font-size: 2em;
    color: #fff;
	-transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.about-grids .pince-right p{
	margin:0 ;
}
.pince:hover .pince-left {
	background-color: #212121;
}
.pince:hover h5{
	transform: rotatey(360deg);
	-webkit-transform: rotatey(360deg);
	-moz-transform: rotatey(360deg);
	-o-transform: rotatey(360deg);
	-ms-transform: rotatey(360deg);
} 
/*-- team --*/
.team{
	padding:4em 0;
	background:url(../images/bg.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.wthree-team-heading h3{
	color:#FFFFFF;
}
.team-heading {
    text-align: center;
}
.team-heading p{
    color: #000000;
    font-size: .9em;
    margin: 1em auto 0;
    width: 40%;	
}
.agileits-team-grids {
    margin: 4em 0 0 0;
}
.team-info{
    position: relative;
    overflow: hidden;	
}
.team-info img{
	width:100%;
	border:solid 2px #333333;
}
.team-caption h4{
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 600;
    margin: .5em 0 0 0;
}
.team-caption p{
	color: #ffb3ac;
    font-size: .9em;
    margin: 0;
}
.team-caption ul{
    padding: 0;
    margin: 1em 0 0 0;
}
.team-caption ul li{
    display: inline-block;
}
.team-caption ul li a {
	color: #333;
    text-align: center;
}
.team-caption ul li a i.fa{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-facebook:hover {
    background: #3b5998;
}
.team-caption ul li a i.fa.fa-twitter:hover{
	background: #55acee;
}
.team-caption ul li a i.fa.fa-rss:hover{
	background: #f26522;
}
.team-caption {
	background: #ff5722;
    padding: 1em;
    position: absolute;
    left: 0;
    bottom: -105%;
    text-align: center;
    width: 100%;
    height: 154px;
	transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}
.team-info:hover .team-caption{
    bottom: 0%;
}
.team-info:hover .team-caption {
    bottom: 0%;
}
/*-- //team --*/
/*-- events --*/
.events{
	padding:4em 0;
	background:#FFFFFF;
}
.event-grids {
    margin: 4em 0 0 0;
}
.event-grid a{
	display:block;
}
.event-grid a img{
	width:100%;
}
.news-grid-info {
    margin-top: 1em;
}
.news-grid-info a {
    color: #ff5722;
    text-decoration: none;
    font-size: 1em;
    margin: 0;
    line-height: 1.8em;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}
.news-grid-info a:hover{
	color:#000000;
}
.news-grid-info h5 {
	color: #000;
    font-size: 1em;
    margin: .5em 0;
}
.news-grid-info p {
	color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
/*-- //events --*/
/*-- //about --*/
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
	background: #ff5722;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 2em;
    color: #ff5722 !important;
    margin: 30px 0 15px;
}
h3.agileits-icons-title {
	text-align: center;
    font-size: 3em;
    color: #212121;
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Great Vibes', cursive;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icons .bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.icons .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.icons .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.icons .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
ul.bs-glyphicons-list {
    padding: 0;
    margin: 0;
}
/*-- //icons --*/
/*-- typography --*/
h3.hdg {
    font-size: 2.5em;
	color:#000 !important;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #555;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg {
	margin-bottom:1em;
	color: #333;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #555;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 12px!important;
	}
	.codes .row {
		margin: 0;
	}
}
/*-- //typography --*/
/*-- gallery --*/
.grid {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
/* Common style */
.grid figure {
	position: relative;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}
.grid figure img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.8;
}
.agile-homes-w3l.grid figure figcaption {
	    padding: 5em 4em;
	color: #fff;
	font-size: 1.3em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**-- Moses --**/
figure.effect-moses {
	background: -webkit-linear-gradient(-45deg, #000 0%,#000 100%);
	background: linear-gradient(-45deg, #000 0%,#000 100%);
}

figure.effect-moses img {
	opacity: 0.85;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-moses h4,
figure.effect-moses p {
	padding: 20px;
	width: 50%;
	height: 50%;
	border: 6px solid #fff;
}

figure.effect-moses h4 {
     padding: 36px 20px 20px 20px;
    width: 50%;
    color: #fff;
    font-size: 50px;
    height: 50%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(10px,10px,0);
    transform: translate3d(10px,10px,0);
    background: rgba(0, 0, 0, 0.55);
    letter-spacing: 2px;
}

figure.effect-moses p {
	float: right;
    padding: 61px 20px 20px 20px;
    font-size: 15px;
    line-height: 2em;
    text-align: center;
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	    background: rgba(0, 0, 0, 0.55);
		    letter-spacing: 9px;
			    text-transform: uppercase;
}

figure.effect-moses:hover h4 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-moses:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-moses:hover img {
	opacity: 0.6;
}

/***** Winston *****/
/*-----------------*/

figure.effect-winston {
    text-align: left;
    border: solid 1px #cacaca;
}

figure.effect-winston img {
	-webkit-transition: opacity 0.45s;
	transition: opacity 0.45s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-winston figcaption::before {
	position: absolute;
	top: 0;
	left: 10px;
	width: 100%;
	height: 100%;
	background: url(../images/triangle.svg) no-repeat center center;
	background-size: 100% 100%;
	content: '';
	-webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
	transition: opacity 0.45s, transform 0.45s;
	-webkit-transform: rotate3d(0,0,1,45deg);
	transform: rotate3d(0,0,1,45deg);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

figure.effect-winston:hover img {
	opacity: 0.6;
}

figure.effect-winston:hover figcaption::before {
	opacity: 0.7;
	-webkit-transform: rotate3d(0,0,1,20deg);
	transform: rotate3d(0,0,1,20deg);
}

figure.effect-winston p {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 3em 1em 4% 0;
}

figure.effect-winston p span {
	margin: 0 0 0 1em;
    color: #FF5722;
    font-size: 1em;
}

figure.effect-winston p span:hover{
	color:#212121;
}

figure.effect-winston:hover p span {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-winston p span {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
}

figure.effect-winston:hover p:nth-child(3) span {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-winston:hover p:nth-child(2) span {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-winston:hover p:first-child span{
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.tabs_grid_sub {
    margin: 2em 0;
}
/*-- gallery --*/
/*-- contact --*/
.map iframe {
    width: 100%;
    min-height: 400px;
    border: none;
}
.contact-head {
	background: #444;
	padding:1em 0;
}
.contact-head h3{
	color:#f7ec13;
	font-size: 2em;
	text-align:left;
    font-weight:600;
    margin: 0;
 	text-transform: uppercase;
}
.e-mail p {
    font-size: 1em;
    margin: 1em 0 0 0;
    color: #473B3B;
    line-height: 1.8em;
    text-align: center;
}
.e-mail p a{
    color: #FF5722;
    text-decoration: none;
}
.e-mail p a:hover{
	color:#999999;
}
.contact-form {
    margin: 3em 0;
}
.contact-form form {
  margin: 2em 0 0 0;
}
.contact-form input[type="text"] {
	width: 32.6%;
    color: #999999;
    background: none;
    outline: none;
    font-size: 1em;
    padding: 1em;
    margin: 0 .5em 1em 0;
    border: solid 2px #e0e0e0;
    -webkit-appearance: none;
}
.contact-form input[type="text"]:nth-child(3) {
  margin-right: 0;
}
.contact-form textarea {
  resize: none;
  width: 100%;
  color: #999999;
  background: none;
  font-size: 1em;
  outline: none;
  padding: 1em;
  border: solid 2px #e0e0e0;
  min-height: 150px;
  -webkit-appearance: none;
}
.contact-form input[type="submit"] {
	border: solid 2px #212121;
    color: #212121;
    font-size: 1em;
    font-weight: 600;
    padding: .5em 1em;
    text-decoration: none;
    letter-spacing: 1px;
    background: none;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact-form input[type="submit"]:hover {
    border: solid 2px #ff5722;
    background: #ff5722;
    color: #FFFFFF;
}
.contact-form h3,.contact-grids h3{
	color: #ff5722;
    font-size: 1.2em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
}
.address-grids {
  margin-top: 2em;
}
.address-grid {
  width: 80%;
  margin: 0 auto;
}
.address-grid h5 {
    font-size: 1em;
    margin: 0 0 1em 0;
    color: #473B3B;
    text-align: center;
    line-height: 1.5em;
    font-weight: 600;
}
.address-grid h5 span {
  display: block;
}
.address-info-left {
  float: left;
}
.address-info-left p {
    font-size: 1em;
    margin: 0;
    color: #473B3B;
    line-height: 1.8em;
}
.address-info-right {
  float: right;
}
/*-- //contact --*/
/*-- single --*/
.single{
	padding:4em 0;
	background:#FFFFFF;
}
.single-nav h2{
    margin: 0;
    font-size: 1em;
}
.single-nav h2 a{
	color: #fff !important;
    margin: 0;
    text-decoration: none;
    padding: 0;
    letter-spacing: 1px;
}
.single-nav a:hover{
	color: #FFC107 !important;
}
.agileits-single-img img{
	width:100%;
}
.agileits-single-img h4{
    color: #000000;
    font-size: 1em;
    margin: 1em 0;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: capitalize;
}
.agileinfo-single-icons{
	margin:2em 0;
}
.agileinfo-single-icons ul{
	padding:0;
	margin:0;
}
.agileinfo-single-icons ul li{
    display: inline-block;
    color: #999999;
    font-size: .9em;
    margin-right: 1.5em;
}
.agileinfo-single-icons ul li:last-child{
	margin-right:0;
}
.agileinfo-single-icons ul li a{
    color: #999999;
	text-decoration:none;
}
.agileinfo-single-icons ul li span{
    margin-left: .5em;
}
.agileinfo-single-icons ul li span:hover{
    color: #FF5722;
}
.agileits-single-img p{
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
}
/*-- comments --*/
.agileits_three_comments{
    margin: 4em 0;
}
.agileits_three_comment_grid{
    padding:3em 0;
    border-bottom: 1px solid #dddddd;
    width: 100%;
}
.agileits_tom {
	float: left;
    border: 1px dotted #353535;
    padding: .5em;
    width: 10%;
}
.agileits_tom  img{
	width:100%;
}
.agileits_tom_right{
    float: left;
    width: 70%;
    margin-left: 3em;
}
.hardy {
    float: left;
}
.reply {
    float: left;
    margin-left: 10em;
    margin-top: .5em;
}
.reply a {
	background: none;
    border: solid 2px #212121;
    padding: .5em 2em;
    color: #212121;
    font-size: .9em;
    text-decoration: none;
}
.reply a:hover{
	color: #ffffff;
    background: #ff5722;
    border: solid 2px #ff5722;
}
.agileits_tom_right p.lorem {
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 1em 0 0 0;
}
.agileits_three_comments h3,.leave_comment h3{
    color: #212121;
    font-size: 1em;
    margin: 0;
    line-height: 1.8em;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}
.hardy h4 {
    font-size: 1em;
    color: #000000;
    margin: 0;
    font-weight: 600;
}
.hardy p {
    color: #999999;
    margin: .5em 0 0;
    font-size: .9em;
}
.agileits_three_comment_grid:nth-child(2){
    margin:4em 0 0;
	padding-top:0 !important;
}
.agileits_three_comment_grid:last-child{
	border-bottom:none;
	padding-bottom:0 !important;
}
.agileits_three_comment_grid1{
	padding-left:5em;
}
/*-- //comments --*/
/*-- leave-comments --*/
.leave_comment {
    width: 70%;
}
.leave_comment form {
    margin: 3em 0 0;
}
.leave_comment input[type="text"], .leave_comment input[type="email"], .w3_leave_comment textarea {
    background: none;
    width: 100%;
    border: solid 2px #e0e0e0;
    outline: none;
    padding: 10px;
    font-size: .9em;
    color: #999999;
}
.w3_leave_comment input[type="email"], .w3_leave_comment textarea {
    margin: 1em 0;
}
.w3_leave_comment textarea {
    min-height: 200px;
    resize: none;
}
.w3_leave_comment input[type="submit"] {
    color: #FFFFFF;
    font-size: 1em;
    text-decoration: none;
    padding: .5em 2em;
    background: #ff5722;
    text-align: center;
    border: solid 2px #ff5722;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3_leave_comment input[type="submit"]:hover {
    background: none;
    border: solid 2px #212121;
    color: #212121;
}
/*-- //leave-comments --*/
/*-- //single --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive --*/
@media(max-width:1080px){
	.navbar-top {
		width: 66%;
	}
	.header-left ul{
		padding:0; 
		margin:0;
	}
	.banner-slider {
		margin: 8em 2em;
	}
	.captn-top {
		padding: 8% 8%;
	}
	.icon-box {
		padding: 8px 4px;
		font-size: .9em;
	}
	.header-top-right {
		width: 35%;
	}
	.contact-form input[type="text"] {
		width: 32.4%;
	}
}
@media(max-width:1024px){
	.navbar-top {
		width: 100%;
	}
	.header-left {
		float: left;
		width: 100%;
		text-align: center;
	}
	.pince h5 {
		font-size: 1em;
	}
}
@media(max-width:991px){
	.header-top-left {
		width: 20%;
	}
	.agileits-welcome-left {
		margin: 1em 0 0 0;
	}
	.special-grids {
		float: left;
		width: 50%;
	}
	.special-grids:nth-child(3),.special-grids:nth-child(4){
		margin:2em 0 0 0;
	}
	.wthree-history-info a {
		width: 16%;
	}
	.captn p {
		margin-top: 6em;
	}
	.wthree-history-info p {
		width: 90%;
	}
	.footer-grid {
		margin: 2em 0 0 0;
	}
	.footer-grid:nth-child(1){
		margin:0;
	}
	.agileits-team-grid {
		float: left;
		width: 50%;
	}
	.agileits-team-grid:nth-child(3),.agileits-team-grid:nth-child(4){
		margin:2em 0 0 0;
	}
	.w3l-event-grid {
		float: left;
		width: 50%;
	}
	.w3_tabs_grid_sub {
		margin: 0;
	}
	.w3_tabs_grid {
		float: left;
		width: 50%;
		margin: 2em 0 0 0;
	}
	.w3_tabs_grid:nth-child(1),.w3_tabs_grid:nth-child(2){
		margin:0;
	}
	.contact-form input[type="text"] {
		width: 32.2%;
	}
	.about-grids:nth-child(2){
		margin: 2em 0 0 0;
	}
}
@media(max-width:800px){
	.head {
		padding: 1em 2em;
	}
	ul.nav.navbar-nav li a {
		margin: 0 8px;
	}
	.agileits-banner-info h3 {
		font-size: 3em;
		letter-spacing: 10px;
	}
	.callbacks_nav {
		bottom: 83px;
	}
	.wthree-history-info h4 {
		letter-spacing: 4px;
	}
	.header-top-right {
		width: 50%;
	}
}
@media(max-width:768px){
	.header-top-left {
		width: 25%;
	}
	.agileits-banner-info h3 {
		font-size: 2.5em;
	}
	.callbacks_tabs {
		left: 46%;
	}
	.agileits-banner-info h3 span {
		letter-spacing: 18px;
	}
}
@media(max-width:736px){
	.navbar-toggle {
		border: 1px solid rgb(255, 255, 255);
	}
	.navbar-toggle .icon-bar {
		background: #FFF;
	}
	ul.nav.navbar-nav li a {
		margin: 1em 0;
	}
	.navbar-nav {
	    float: none;
		margin: 0;
		text-align: center;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 0;
		color: #FFF !important;
		text-align: center;
	}
	.navbar-nav .open .dropdown-menu > li > a:hover{
		background:none;
		color:#FF5722 !important;
	}
	.navbar-nav .open .dropdown-menu > li > a:focus{
		background:none;
	}
	ul.dropdown-menu li {
		padding: 0;
	}
	.dropdown-menu {
		padding: 0;
	}
	div#bs-example-navbar-collapse-1 {
	    position: absolute;
		width: 75%;
		background: hsla(0, 0%, 0%, 0.77);
		z-index: 99;
	}
}
@media(max-width:667px){
	.callbacks_nav {
		bottom: 8px;
	}
	.banner-slider {
		margin: 5em 2em;
	}
	.contact-form input[type="text"] {
		width: 32%;
	}
	.header-top {
		padding: 1em 1em;
	}
	.header-top-right {
		width: 57%;
	}
}
@media(max-width:600px){
	.agileinfo-dot {
		border: solid 30px rgba(0, 0, 0, 0.64);
	}
	.captn p {
		margin-top: 3em;
	}
	.wthree-history-info h4 {
		font-size: 2em;
	}
	.reply {
		margin-left: 7em;
	}
}
@media(max-width:568px){
	.header-top-left {
		width: 27%;
	}
	.header-top-right {
		width: 63%;
	}
	.logo h1 a {
		font-size: 1.2em;
	}
	.banner-slider {
		margin: 5em 1em;
	}
	.wthree-history-info a {
		width: 20%;
	}
	.reply {
		margin-left: 4em;
	}
	figure.effect-winston p {
		padding: 0 .5em 0 0;
	}
	.contact-form input[type="text"] {
		width: 31.6%;
	}
}
@media(max-width:480px){
	.header-top-left {
		width: 100%;
		float: none;
		text-align: center;
	}
	.header-top-right {
		width: 100%;
		float: none;
		margin: 1em 0 0 0;
	}
	.agileits-banner-info h3 {
		font-size: 2em;
		letter-spacing: 8px;
	}
	.agileinfo-heading h3,.agile-main-heading h2 {
		font-size: 3em;
	}
	.welcome, .special, .history-dot, .wthree-subscribe, .agile-footer, .typography, .codes, .gallery, .contact-content, .w3l-about-top, .team, .events {
		padding: 2em 0;
	}
	.agileits-welcome-grids, .special-top-grids,.agileits-team-grids,.w3l-event-grids{
		margin: 2em 0 0 0;
	}
	.captn p {
		margin-top: 0em;
	}
	.special .wthree-special-info {
		padding: .5em;
	}
	.wthree-history-info a {
		width: 25%;
	}
	.agileits-subscribe-form {
		margin: 2em 0 0 0;
	}
	.agileits-subscribe-form input[type="text"] {
		padding: .5em;
	}
	button.btn1 {
		padding: .5em 1em;
	}
	.news-grid-info a {
		letter-spacing: 1px;
	}
	div#bs-example-navbar-collapse-1 {
		width: 73%;
	}
	.contact-form input[type="text"],.contact-form textarea {
		width: 100%;
		margin: 0 0em 1em 0;
		padding: .5em;
	}
	.w3_leave_comment form {
		margin: 2em 0 0;
	}
	.w3_leave_comment {
		width: 100%;
	}
	.agileits_three_comments {
		margin: 2em 0;
	}
	.agileits_three_comment_grid:nth-child(2) {
		margin: 2em 0 0 0;
	}
	.agileits_tom_right {
		width: 80%;
		margin-left: 1em;
	}
	.agileits_three_comment_grid1 {
		padding-left: 3em;
	}
	.contact-form {
		margin: 2em 0;
	}
	.single {
		padding: 2em 0;
	}
}
@media(max-width:414px){
	.agileits-banner-info h3 {
		letter-spacing: 3px;
	}
	.agileits-banner-info h3 span {
		letter-spacing: 10px;
	}
	.banner-slider {
		margin: 3em 1em;
	}
	.head {
		padding: 1em 1em;
	}
	.w3-button a {
		padding: .5em 2em;
	}
	.callbacks_tabs {
		left: 43%;
		top: 104%;
	}
	.agileits-welcome-left h2 {
		letter-spacing: 1px;
	}
	.special-grids {
		float: none;
		width: 100%;
	}
	.captn p {
		margin-top: 5em;
	}
	.special-grids:nth-child(2){
		margin:2em 0 0 0;
	}
	.wthree-history-info h4 {
		font-size: 1.2em;
	}
	.team-caption h4 {
		font-size: 1em;
	}
	.w3l-event-grid {
		float: none;
		width: 100%;
	}
	.w3l-event-grid:nth-child(2){
		margin:2em 0 0 0;
	}
	.reply a {
		padding: .5em 1em;
	}
	.agileits_three_comment_grid1 {
		padding-left: 2em;
	}
	.agileits_tom {
		width: 15%;
	}
	.w3_tabs_grid {
		float: none;
		width: 100%;
		margin: 1em 0 0 0 !important;
	}
	.w3_tabs_grid:nth-child(1){
		margin:0;
	}
	h3.agileits-icons-title {
		font-size: 2em;
	}
	.icons .bs-glyphicons li {
		width: 31%;
	}
	.map iframe {
		min-height: 300px;
	}
	.contact-form input[type="submit"] {
		margin: 0;
	}
	.agileinfo-single-icons {
		margin: 1em 0;
	}
}
@media(max-width:384px){
	.agileinfo-social-grids {
		float: none;
		text-align: center;
	}
	.header-top-right-text {
		float: none;
		text-align: center;
		margin: .5em 0 0 0;
	}
	.header-left ul li {
		margin: 0 .5em;
	}
	.agileits-banner-info h3 {
		font-size: 1.5em;
	}
	.agileits-banner-info h3 span {
		font-size: .4em !important;
	}
	.w3-button a {
		font-size: .8em;
	}
	.callbacks_nav {
		width: 30px;
		height: 30px;
		background: transparent url(../images/arrows.png) no-repeat left top;
		background-size: 208%;
	}
	.callbacks_tabs {
		left: 41%;
	}
	.header-left {
		margin-top: 1em;
	}
	.agileits-welcome-left h2 {
		font-size: .9em;
	}
	.wthree-history-info a {
		width: 33%;
	}
	.agileits-subscribe-form input[type="text"] {
		width: 50%;
	}
	.agileits_tom_right {
		width: 77%;
		margin-left: .5em;
	}
	.agileinfo-heading h3, .agile-main-heading h2 {
		font-size: 2.5em;
	}
}
@media(max-width:375px){
	.agileits_three_comment_grid1 {
		padding-left: 1em;
	}
}
@media(max-width:320px){
	.agileinfo-dot {
		border: solid 20px rgba(0, 0, 0, 0.64);
	}
	.logo h1 a {
		font-size: 1em;
	}
	.header-top {
		padding: .5em;
	}
	.head {
		padding: .5em;
	}
	.header-left ul li:nth-child(1){
		margin-left:0;
	}
	.header-left ul li:nth-child(2){
		margin-right:0;
	}
	.banner-slider {
		margin: 2em 1em;
	}
	.callbacks_tabs {
		left: 40%;
		top: 100%;
	}
	div#bs-example-navbar-collapse-1 {
		width: 82%;
	}
	.captn p {
		margin-top: 3em;
	}
	.wthree-history-info p {
		width: 87%;
	}
	.pince-left {
		padding: .5em;
	}
	.agileits-team-grid {
		float: none;
		width: 100%;
	}
	.agileits-team-grid:nth-child(2),.agileits-team-grid:nth-child(3), .agileits-team-grid:nth-child(4) {
		margin: 1em 0 0 0;
	}
	.reply {
		margin-left: 1em;
	}
	.map iframe {
		min-height: 200px;
	}
}
/*-- //responsive --*/